/**
 * 
 * {{ properCase type }}{{ properCase name }}{{ properCase variant }}
 * 
 */
import React from 'react'
{{#if wantStyles}}
import styles from './index.module.css'
{{/if}}

type ComponentProps = {}

const {{ properCase type }}{{ properCase name }}{{ properCase variant }}: React.FC<ComponentProps> = () => {
  return (
    <div data-testid="{{ toSlug name }}-{{ toSlug variant }}" {{#if wantStyles}}className={styles.container}{{/if}}>
      Component {{ properCase type }}{{ properCase name }}{{ properCase variant }}
    </div>
  )
}

export default {{ properCase type }}{{ properCase name }}{{ properCase variant }}
