/**
 * 
 * {{ properCase type }}{{ properCase name }}{{ properCase subname }}
 * 
 */
import React from 'react'

type ComponentProps = {}

const {{ propperCase type }}{{ propperCase name }}{{ propperCase subname }}: React.FC<ComponentProps> = () => {
  return (
    <div>
      Hello World!!!
    </div>
  )
}
